<!-- Validation failure messages -->
<% if @profile.present? %>
  <% if @profile.errors.any? %>
    <% @profile.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new profile
</h1>


<hr>

<form action="/create_profile" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @profile.user_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create profile
  </button>
</form>

<hr>

<a href="/profiles">
  Go back
</a>
